*{
    padding: 0;
    margin: 0;
}
body{
    /* background-color: wheat; */
background-image: url("background3.jpg");
background-repeat: no-repeat;
background-position: auto;
background-size: cover;
background-attachment: fixed;
}
h1{
    margin-top: 30px;
text-align: center;
color: rgb(0, 255, 221);
text-shadow: 2px 2px 4px rgb(0, 0, 0);

}
.Inputdiv{
text-align: center;

    margin-top: 70px !important;


}
.Outputdiv{

    margin-top: 5px;
width: 96%;
margin: 0 auto;
}
#Todo-item{
    outline: none;
    padding: 8px 0px;
    padding-left:10px ;
    width: 31%;

}
#Todo-item:focus{
border: 2px solid blueviolet;

}
#list{
    margin-top: 10px;
    /* text-align: center; */
    }

.btn1{
    outline: none;
    padding: 8px 8px;
    background-color: rgb(36, 156, 212);
    color: white;
    margin-left: 8px;
    
}
.btn2{
    background-color: red;
    outline: none;
    padding: 8px 8px;
    color: white;
    margin-left: 8px;
   
}

li{
    position: relative;
    background-color: burlywood;
    box-shadow: 1px 1px 1px white;
    padding: 12px 25px;
    list-style: none;
    margin-bottom: 8px;
}

.inputEdit:focus{
    border: 2px solid blueviolet;
}
 #inputId{
    margin-left: 120px;
}
#inputid{
    width: 100px;
    position: absolute;
    top: 5%;
    bottom: 5%;
    right:30%
}
.buttonsMr{
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: 3%;
    margin-left: 8px;

}
.inputEdit{
    
    width: 70px;
 
}

